/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

/* Portrait layout (default) */
.app {
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


.label {
    width: 100px;
    float: left;
}

.field {
    margin-bottom: 10px;
}

/*** FOR ALL APP PAGES ***/

.base {
    background-color: #2a2b3e;
    height: 100%;
}

.page-wrapper {
    width: 320px;
    height: 480px;
}

.bf-header {
    background-position: center top;
    background-image: url('../img/assets/TOP_BAR.png');
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    height: 68px;
    border-width: 0px;
}

.bf-footer {
    text-align: center;
    top: 100px;
    width: 100%;
}

.bf-content {
    text-align: center;
    padding: 0 32px;
}

.bf-setting-button {
    background-image: url('../img/assets/SETTING_BT.png');
    background-repeat: no-repeat;
    position: absolute !important;
    left: 273px !important;
    top: 16px !important;
    width: 31px;
    height: 31px;
    display: block;
}

.bf-setting-button:active {
    background-image: url('../img/assets/SETTING_BT-PRESSED.png');
}

.bf-back-button {
    display: block;
    position: absolute !important;
    left: 18px !important;
    top: 16px !important;
    background-image: url('../img/assets/BACK.png');
    width: 29px;
    height: 29px;
}

.bf-back-button:active {
    background-image: url('../img/assets/BACK_pressed.png');
}

.bf-button {
    padding: 0;
    border-width: 0;
    background-color: rgba(0, 0, 0, 0);
}

.bf-bg1 {
    background-image: url('../img/assets/BG.png');
}

.bf-bg2 {
    background-image: url('../img/assets/BG__4.png');
}

.bf-bg-green {
    background-image: url('../img/assets/BG__1.png');
}

.bf-bg-red {
    background-image: url('../img/assets/BG__2.png');
}

.bf-bg-blue {
    background-image: url('../img/assets/BG__3.png');
    color: #fff;
    text-shadow: 0 1px 0 #333;
}



/*** INTRO PAGE ***/

#intro {
    display:table;
}

.splash {
    background-color: #2a2b3e;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

/*** LOGIN PAGE ***/

#bf-button-login {
    background-image: url('../img/assets/CHECK_IN.png');
    width: 252px;
    height: 43px;
}

#bf-button-login:active {
    background-image: url('../img/assets/CHECK_IN_PRESSED.png');
}

/*** SIGNUP PAGE ***/

#bf-button-signup {
    background-image: url('../img/assets/SIGN-UP__1.png');
    width: 252px;
    height: 43px;
}

#bf-button-signup:active {
    background-image: url('../img/assets/SIGN-UP_pressed.png');
}
